/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.heading-image img{
    width: 400px;
}

.center {
    text-align: center;
}

button {
    background-color: black;
    /* background-color: #dc52ff; */
    border-style: solid;
    border-color: #fbff00;
    border-radius: 7px;
    border-width: 3px;
    padding: 5px;
    width: 10%;
    color: #fbff00;
}
.info button {
    border-color: #dc52ff;
    color: #dc52ff;
}

.open-source-info a{
    color: blue;
}
